article {
    position: fixed;
    top: 16vh;
    bottom: 0;
    right: 0;
    width: 20vw;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 5px 1vh rgb(34, 34, 34);
}

article h2 {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 1.75em;
}

article ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: absolute;
    top: 5vh;
    bottom: 9vh;
}

article ::-webkit-scrollbar {
    width: 0;
}

article li {
    width: 95%;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    border-radius: 5px;
    font-family: 'ZCOOL XiaoWei', serif;
    cursor: pointer;
    font-size: 1.25em;
    color: white;
}

article li:hover {
    box-shadow: 0px 0px 5px 1px grey;
}

article button {
    position: absolute;
    bottom: 3vh;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1.25em;
    padding: 8px;
    font-family: 'ZCOOL XiaoWei', serif;
}