img {
    width: 50px;
    border-radius: 100%;
    margin: 10px;
    margin-right: 15px;
}

section {
    color: white;
    margin-top: 25px;
}

nav button {
    margin-top: 2vh;
    padding: 8px;
    width: 25vw;
    border-radius: 10px;
    background: black;
    border-color: rgb(228, 245, 253);
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}

#you-scored {
    font-size: 1.5em;
    text-align: center;
    color: black;
    background-color: rgb(204, 194, 102);
    padding: 5px;
}

#user-score {
    color: white;
    font-size: 1.5em;
}
table {
    width: 50vh;
    border-collapse: collapse;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 1.25em;
    border: 2px solid rgb(204, 194, 102);
}

tr {
    background: rgb(41, 41, 41);
}

td div {
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

th {
    letter-spacing: 2px;
}

td, th {
    padding: 1vh;
    text-align: center;
}

#table {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
}