img {
    width: 50px;
    border-radius: 100%;
    margin: 10px;
    /* padding-right: 20px; */
    margin-right: 30px;
}

section {
    color: white;
    margin-top: 25px;
}

#you-scored {
    font-size: 1.5em;
    text-align: center;
    color: black;
    background-color: rgb(204, 194, 102);
    padding: 5px;
}

#user-score {
    color: white;
    font-size: 1.5em;

}

table {
    width: 80%;
    /* margin-left: 50px; */
    table-layout: fixed;
    margin: auto;
}

thead {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: left;
}

tbody {
    border: 3px solid white;
}

tr {
    /* display: flex; */
    /* align-items: center; */

}

td {
    vertical-align: bottom;
}