* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(68, 67, 67);
    font-family: 'ZCOOL XiaoWei', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    height: 15vh;
    min-height: 100px;
    font-family: 'Special Elite', cursive;
    box-shadow: 0 5px 15px black;
    letter-spacing: 1vw;
}

header h1 {
    display: flex;
    align-self: center;   
    padding: 20px; 
    font-size: 3.5em;
}

#instructions {
    margin-top: 2vh;
    text-align: center;
    color: white;
    font-size: 1.75em;
}

.yellow {
    color: rgb(204, 194, 102);
}

.purple {
    color: rgb(160, 78, 160);
}

.light-blue {
    color: rgb(137, 208, 231);
}

.white {
    color: white;
}

.dark-blue {
    color: rgb(86, 156, 214);
}

#profile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-self: flex-end;  
    width: 200px;
    padding: 10px;
    margin: 20px;
}

#profile button {
    padding: 8px;
    border-radius: 10px;
    background: rgb(128, 128, 128);
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}

#profile p {
    margin: 1vh;
    letter-spacing: 1px;
}
#profile img {
    display: flex;
    width: 20%;
    border-radius: 100%;
}

#search-section {
    margin-bottom: 0;
    padding-bottom: 0;
}

#form {
    text-align: center;
    padding: 20px;
    margin-top: 2vh;
}

#form span {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Special Elite';
}

#form input {
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 245, 253);
 }
 
#form button {
    margin-top: 2vh;
    padding: 8px;
    width: 25vw;
    border-radius: 10px;
    background: black;
    border-color: rgb(228, 245, 253);
    font-size: 1em;
    letter-spacing: 2px;
 }

#form button span {
    font-family: 'ZCOOL XiaoWei', serif;
}

#artist-search {
    height: 1.8em;
}

ul#searched-artist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searched-artist-list li {
    width: 50%;
    margin: 10px;
    list-style: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    margin-top: 2vh;
    padding-left: 1vw;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px grey;
    background: silver;
    cursor: pointer;
    color: black;
    font-weight: 500;
    font-size: 1.75em;
}

#searched-artist-list li:hover {
    background: rgb(214, 214, 214);
}

.favorite {
    color:  rgb(255, 115, 0);
}

.none {
    display: none;
}

footer {
    position: fixed;
    bottom: 1vh;
    height: 3vh;
    left: 1vw;
}

footer img {
    height: 100%;
}