* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(68, 67, 67);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    height: 15vh;
    min-height: 100px;
    font-family: 'Special Elite', cursive;
}

header h1 {
    display: flex;
    align-self: center;   
    padding: 20px; 
    font-size: 3.5em;
}

.yellow {
    color: rgb(204, 194, 102);
}

.purple {
    color: rgb(160, 78, 160);
}

.light-blue {
    color: rgb(137, 208, 231);
}

.white {
    color: white;
}

.dark-blue {
    color: rgb(86, 156, 214);
}

#profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-self: flex-end;  
  width: 200px;
  padding: 10px;
  margin: 20px;
}

#profile img {
    display: flex;
    width: 20%;
    border-radius: 100%;
}

#search-section {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 80vh;
}

#form {
    text-align: center;
    padding: 20px;
    margin-top: 2vh;
}

#form span {
    font-weight: bolder;
    font-size: 1.5em;
}

#form input {
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 245, 253);
 }
 
#form button {
    margin-top: 2vh;
    padding: 8px;
    width: 25vw;
    border-radius: 10px;
    background: black;
    border-color: rgb(228, 245, 253);
 }

#artist-search {
    height: 1.8em;
}

ul#searched-artist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searched-artist-list li {
    border: 2px solid black;
    background-color: rgb(228, 245, 253);
    width: 50%;
    padding: 5px;
    margin: 10px;
    list-style-type: none;
    box-shadow: 1px 1px 1px 1px  rgb(137, 208, 231);;
}

.favorite {
    color:  rgb(255, 69, 0);
}

.none {
    display: none;
}

button:hover {
    color: red;
}